<h1 class="users-page-title">Історія платежів u</h1>
<ul class="users-list">
    <li>{{nicname1}}</li>
    <li>{{nicname2}}</li>
    <li>{{nicname3}}</li>
    <li>{{nicname4}}</li>
    <li>{{nicname5}}</li>
    
</ul>
<div class="cont"></div>

<ul class="paginator">
    <li>{{pagenumber1}}</li>
    <li>{{pagenumber2}}</li>
    <li>{{pagenumber3}}</li>
    <li>{{pagenumber4}}</li>
    <li>{{pagenumber5}}</li>
</ul>

{{!-- <form action="/api/payment/users" method="post">
    <input type="hidden" name="currentPage" value="1">
    <button type="submit">1</button>
</form>
<form action="/api/payment/users" method="post">
    <input type="hidden" name="currentPage" value="2">
    <button type="submit">2</button>
</form>
<form action="/api/payment/users" method="post">
    <input type="hidden" name="currentPage" value="3">
    <button type="submit">3</button>
</form>
<form action="/api/payment/users" method="post">
    <input type="hidden" name="currentPage" value="4">
    <button type="submit">4</button>
</form>
<form action="/api/payment/users" method="post">
    <input type="hidden" name="currentPage" value="5">
    <button type="submit">5</button>
</form> --}}


<script src="/js/pagination.js"></script>

    

    

    

    
    
        

