<div class="wrapper-chat">
    <h1>{{rooms}}</h1>
    {{!-- <button onclick="sendMSGToAll()">Send Message To All</button> --}}
    <ul id="messages-chat" class="messages-room">

    </ul>
    <div id="iframe">

      </div>
    <form id="form-chat" action="">
      <input id="input-chat" autocomplete="off" /><button>Send</button>
    </form>
</div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<script>
   (function() {
      const iframe = document.getElementById('iframe')
      const socket = io('/admin')
      const messages = document.getElementById('messages-chat')
      var form = document.getElementById('form-chat');
      var input = document.getElementById('input-chat');

      const room = `{{rooms}}`
      const nicname = `{{nicname}}`
      console.log(`room: ${room}`)
      console.log(`nicname: ${nicname}`)

      form.addEventListener('submit', function(e) {
        e.preventDefault()
        if (input.value) {
          socket.emit('chat message', {msg: `{{nicname}}: ${input.value}`, room: '{{rooms}}'})
          input.value = ''
        }
        //async function saveChatData(name) {
        //  const response = await fetch(`/saveChatData`, { 
        //      method: "POST", 
        //      headers: { "Accept": "application/json", "Content-Type": "application/json" },
        //      body: JSON.stringify({
        //          room: `${room}`,
        //          message: `${nicname}: ${input.value}`
        //      })
        //  })
        //  if (response.ok === true) return console.log('data was send')
        //  return console.log('server send bad response')
        //}
        //saveChatData()
      })
    

      socket.on('chat message', function(msg) {
        var item = document.createElement('li')
        item.textContent = msg
        //console.log(msg)
        messages.appendChild(item)
        iframe.innerHTML = iframe.innerHTML = `<iframe src="/sound/sound.mp3" allow="autoplay" style="width: 130px;height:55px;opacity: 0">`
        window.scrollTo(0, document.body.scrollHeight)
      })

      socket.on('connect', () => {
        socket.emit('join', {room, nicname})
      })
      document.addEventListener("onunload", function(){
          const adres = 'http://localhost/chat'
          const hrefto = (adres) => {
              window.location.href = adres;
          }
          //hrefto(adres)

      })

      //function sendMSGToAll(){
        //socket.emit('send msg to all', {msg: input.value, room})
      //}

    })()
</script>
